@Font-face {
    font-family: dfont;
    src: url("Resources/diablo-font.ttf");
}
.root{
    -fx-border-color: #c4bdbd;
    -fx-font-family: Diablo;
}
.button{
    -fx-background-image: url('Resources/d2-Button.jpg');
    -fx-text-fill: Black;
    -fx-opacity: 1;
    -fx-font-size: 10px;
}
.button:hover{
    -fx-text-fill: linear-gradient(to bottom, yellow, red);
}
.button:pressed{
    -fx-opacity: 0.7;
}
.tab-pane:top .tab-header-area .headers-region .tab:top{
    -fx-background-color: #9b8c6e;
}
.tab:hover .tab-label {
    -fx-text-fill: linear-gradient(to bottom, yellow, red);
}
.tab:selected .tab-label {
    -fx-text-fill: linear-gradient(to bottom, yellow, red);
}
.tab-pane:top .tab-header-area .headers-region .tab:selected:top{
    -fx-background-color: #6c6c6c;
}
.background-part{
    -fx-background-image: url('Resources/d2-background.jpg');
    -fx-background-size: cover;
}
.button:disabled {
    -fx-opacity: 0.5;
}
#top-half{
    -fx-background-image: None;
    -fx-background-color: Black;
}
.tab-pane:top .tab-header-area .tab-header-background{
    -fx-background-image: url('Resources/thin_bg.gif');
    -fx-background-size: cover;
}
#bottom-half .label {
    -fx-text-fill: linear-gradient(to bottom, yellow, red);
}
.label{
    -fx-text-fill: linear-gradient(to bottom, yellow, red);
}